*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}




.image.img{
    height: 200%;
    width: 1000%;
    background-color: rgba(17, 2, 32, 0.877);
  
}

.one{
    height: 200%;
    width: 1000%;
    background-color: rgba(17, 2, 32, 0.877);

}

.main{
    display: flex;
}